/bin/
/data/
/web/node_modules/
/web/dist/*
!/web/dist/.gitkeep
.env
*.db
*.db-wal
*.db-shm
server.yaml
client.yaml
session_*.md
*.swp
*.tmp
~$*
/.venv/
/.claude/
/testdocs/

/harlequin
/harlequin-server

__pycache__/
